#dot {
	background-color: black;
	height: 100px;
	width: 100px;
	position: relative;
}
#wrapper {
	margin: 0%
}

#outer-container {
	margin: 10% 5% auto;

}

#tempo {
	margin: 20px auto;
}

.to-left {
	float: left;
}
.to-right {
	float: right;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
