@import "../libraries/bulma/bulma.sass";


body {
    background-color: $light;
    height: 100vh;
    transition: all 0.2s ease;
}

body .text {
    color: $dark;
}

body.dark {
    background-color: $dark;
    color: $light;
}

body.dark .text {
    color: $light;
}

#settings-container {
    position: fixed;
}

.section {
    padding-top: 40vh;
}

button {
    cursor: pointer;
    border: none;
    color: $light;
    padding: .7rem;
    background: $dark;
    border-radius: 6px;
}

#settings-btn {
    //float: left;
    //top: 0;
    //right: 0;
    //margin: 1rem;
    width: 130px;
}

body.dark button {
    background: $light;
    color: $dark;
}

#dot {
    border-radius: 50px;
	background-color: $dark;
	height: 100px;
	width: 100px;
}

body.dark #dot {
	background-color: $light;
}

#tick-output, #volume-output, #duration-output {
    background-color: $dark;
    color: $light;
    padding: .7rem;
    height: min-content;
    width: 69px;
    text-align: center;
}

body.dark #tick-output, body.dark #volume-output, body.dark #duration-output {
    background-color: $light;
    color: $dark;
}

.label {
    //justify-content: center;
    width: 105px;
}

